{% extends "base.html" %}

{% block title %}About Ebuka{% endblock %}

{% block content %}
<div class="info-section">
    <h2>About Me</h2>
    <p>
        Hi, I’m Ebuka — I build cool stuff.
    </p>    
    <p>
        I thrive in the space between complex systems and intuitive design, always looking to connect ideas in unexpected ways.
        I build with a mix of hardware and software, think like, robots, LED matrices, and AI systems.
    </p>
    <p>
        Collaboration fuels my process. I enjoy being part of teams where knowledge is shared, feedback is constructive, and 
        learning is constant. Beyond the screen, you’ll find me attending social events (inevitably with other builders), in the gym, or exploring new tools.
    </p>
    <p>
        This portfolio is a snapshot of my journey: the projects that challenged me, the ideas I shaped, and the experiences 
        that shaped me. I’m always exploring what’s next—and always up for an interesting conversation.
    </p>
</div>
{% endblock %}
